body * {
    box-sizing: border-box !important;
}

body,
html {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 0px;
    scroll-behavior: smooth;
}