<h2>Who we are</h2>
<div class="about-bio">
    <img id="jonathan-watson" class="about-bio-img" alt="Dr. Jonathan Watson, Licensed Psychologist"
        src="assets/images/bio-jonathan-watson.png">
    <article class="about-bio-article">
        <h3 class="about-bio-name">Dr. Jonathan Watson</h3>
        <p>Johnathan C. Watson Psy.D. is a Licensed Psychologist (#31376) in the state of California. Dr. Watson was
            born and raised in New Orleans, Louisiana where he attended Dillard University to study Psychology. After
            receiving his bachelor's degree from Dillard University in 2013, he moved to Los Angeles to further pursue a
            career in psychology. By age 25, Dr. Watson earned his master's and Doctor of Psychology (Psy.D.) degree in
            Clinical Forensic Psychology from the California School of Forensic Studies (CSFS) at Alliant International
            University. He completed a Doctoral Internship and Postdoctoral Fellowship conducting intensive treatment
            and evaluations to Sexually Violent Persons (SVPs) in the state of Illinois.</p>
        <p>During this time, he also worked in academia as a collegial Psychology Instructor. Dr. Watson has training in
            outpatient, inpatient, correctional, and community health settings with individuals who present with
            numerous mental health issues including depression, mood disorders, psychotic disorders, ADHD, anxiety,
            trauma, and other neurodevelopmental disorders. Dr. Watson also has a specialization which pertains to
            treatment and evaluation of sexual offenders.</p>
        <p>He is currently an Independent Level Treatment Provider under the California Sex Offender Management Board
            (CASOMB) and serves as one of nine Certified STABLE- 2007 (dynamic sexual risk assessment) Trainers
            throughout the state of California.</p>
        <div class="about-bio-cta">
            <h3 class="about-bio-heading">Contact Dr. Watson</h3>
            <p> Dr. Watson can be reached via email at
                <a type="email" target="_blank" href="mailto:drwatson@wsnpsychgroup.com">drwatson@wsnpsychgroup.com</a>
                or by phone at <a type="tel" target="_blank" href="tel:323-425-9790">323-425-9790</a>.
            </p>
        </div>
    </article>
</div>


<div class="about-bio">
    <img id="felix-sanchez" class="about-bio-img" alt="Dr. Felix Sanchez, Licensed Psychologist"
        src="assets/images/bio-felix-sanchez.png">
    <article class="about-bio-article">
        <h3 class="about-bio-name">Dr. Felix Sanchez</h3>
        <p>Felix Sanchez, Psy.D. is a Licensed Psychologist in California (#30964). Dr. Sanchez earned his
            doctorate in Clinical-Forensic Psychology from the California School of Forensic Studies
            (CSFS) at Alliant International University. He has training in outpatient, inpatient, correctional,
            and community mental health settings with individuals experiencing numerous issues, including
            depression, bipolar disorder, ADHD, anxiety, trauma, and perceptual difficulties. His research
            interests include malingering in neuropsychological assessments and juvenile/adult competency
            to stand trial.</p>
        <h3 class="about-bio-heading">Forensic Evaluations</h3>
        <p>Dr. Sanchez conducts evaluations in a range of criminal and administrative matters, including
            but not limited to: (I) Criminal: Competency to Stand Trial and Pre-Trial and Sentencing: Risk Assessment,
            Diversion, and Mitigation and (II) Administrative/Other: Diagnostic/Treatment Evaluations and Violence Risk
            Assessment
        </p>
        <h3 class="about-bio-heading">Expert Testimony and Consultation</h3>
        <p>Dr. Sanchez provides expert testimony in forensic cases as well as consultation to attorneys,
            clinicians, and other interested parties.</p>
        <h3 class="about-bio-heading">Clinical Evaluation</h3>
        <p>Dr. Sanchez also conducts clinical psychological assessments, which may
            include diagnostic evaluation, assessment of personality and intellectual/cognitive functioning,
            and additional types of testing to assist in treatment planning and decision-making.
        </p>
        <h3 class="about-bio-heading">Therapy</h3>
        <p>Dr. Sanchez works with individuals from various age groups and ethnic, cultural, and
            socioeconomic backgrounds. He uses an eclectic and varied approach to individual therapy,
            which is adapted to his client's needs.
        </p>
        <h3 class="about-bio-heading">Bilingual Services (Spanish)</h3>
        <p>
            Dr. Sanchez is fluent in the Spanish language, and he conducts therapy and assessments with
            Spanish-speaking clients. He also provides consultation services to mental health professionals
            and agencies as well as to legal professionals who are in need of such services from a bilingual
            psychologist.
        </p>
        <p>
            El Dr. Sanchez es un psicólogo licensiado en el Estado de California. Habla español y tiene la
            capacidad de llevar a cabo psicoterapia y evaluaciones con gente de habla Hispana. Tiene
            experiencia trabajando con personas que sufren de varios problemas psicologicos, incluyendo
            depresión, bipolaridad, atencion, ansiedad, trauma, y dificultades con la percepción. Ha trabajado
            con pacientes hospitalizados/encarcelados y clientes de centros de salud mental en la comunidad.
        </p>
        <p>
            El Dr. Sanchez realiza psicoterapia individual de forma eclectica con personas de distintos
            grupos y se esfuerza por ayudar a sus clientes a encontrar soluciones para sus problemas.
            También ofrece servicios de consulta a profesionales de salud mental y a los profesionales del
            derecho, si necesitan los servicios de un psicólogo bilingüe. En particular, el Dr. Sanchez realiza
            evaluaciones clinicos y forense, incluyendo para clarificar diagnosis, competencia de ser
            juzgado, riesgo de violencia, y desviacion de salud mental.
            Se puede contactar con el Dr. Sanchez por correo electronico al
            <a type="email" target="_blank" href="mailto:drsanchez@wsnpsychgroup.com">drsanchez@wsnpsychgroup.com</a>
            o por telefono al <a type="tel" target="_blank" href="tel:951-534-5141">951-534-5141</a>.
        </p>
        <div class="about-bio-cta">
            <h3 class="about-bio-heading">Contact Dr. Sanchez</h3>
            <p> Dr. Sanchez can be reached via email at
                <a type="email" target="_blank"
                    href="mailto:drsanchez@wsnpsychgroup.com">drsanchez@wsnpsychgroup.com</a> or by phone at <a
                    type="tel" target="_blank" href="tel:951-534-5141">951-534-5141</a>.
            </p>
        </div>
    </article>
</div>


<div class="about-bio">
    <img id="navarro" class="about-bio-img" alt="Dr. Navarro, Licensed Psychologist"
        src="assets/images/bio-navarro.png">
    <article class="about-bio-article">
        <h3 class="about-bio-name">Dr. Navarro</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nibh turpis, efficitur ut aliquet vel,
            sollicitudin eu odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
            curae; Morbi pharetra consequat felis sit amet pharetra. Fusce orci nisi, pellentesque in auctor vel,
            sollicitudin nec diam. Nullam nec metus id arcu sagittis tempus. Quisque a ipsum ultrices, porttitor felis
            sed, sodales enim. Praesent ut sodales odio. Nulla facilisi. Vivamus suscipit rhoncus magna, vitae venenatis
            eros consequat et. Curabitur imperdiet placerat rutrum.</p>
        <p>Integer convallis diam lorem, feugiat fringilla nisl hendrerit ac. Nulla feugiat orci nibh, non tempus sapien
            malesuada ut. Nulla a dolor sapien. Aenean facilisis nisl fringilla metus laoreet, eu dignissim ex dictum.
            Quisque non aliquam tortor. Suspendisse euismod feugiat iaculis. Quisque venenatis vulputate justo a
            facilisis. Phasellus tincidunt diam et nibh consequat euismod. Nam dignissim in felis sit amet dignissim.
            Sed at ex sapien. Nam pulvinar nulla velit, nec egestas augue ornare non. Ut lobortis malesuada volutpat.
            Nulla tempor, eros eget posuere malesuada, libero velit aliquet nulla, sit amet iaculis est mauris non enim.
        </p>
        <p>Nulla facilisi. Vivamus scelerisque congue nulla vel ultrices. Vestibulum vehicula urna sit amet arcu posuere
            feugiat. Duis vestibulum eu nunc eget placerat. Ut et libero ac eros pulvinar luctus. Nam elit purus,
            facilisis vitae nulla quis, mollis elementum dolor. Nullam blandit sed neque sed cursus. Aliquam mattis elit
            non felis facilisis, nec facilisis ipsum consectetur. Nam pharetra, arcu quis interdum interdum, nibh lacus
            laoreet ligula, id ultrices diam nunc et massa. Quisque varius justo et neque tincidunt, eget fringilla
            magna volutpat.</p>
        <div class="about-bio-cta">
            <h3 class="about-bio-heading">Contact Dr. Navarro</h3>
            <p> Dr. Navarro can be reached via email at
                <a type="email" target="_blank"
                    href="mailto:drnavarro@wsnpsychgroup.com">drnavarro@wsnpsychgroup.com</a>
                or by phone at <a type="tel" target="_blank" href="tel:555-555-5555">555-555-5555</a>.
            </p>
        </div>
    </article>
</div>